doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    header#cabecera
      nav
        a(href='/demos/formulario') Login  -  
        a(href='/users/login')   -  Pug
        a(href='/api/actores')  -  Actores
    main
      block content
