h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

@font-face {
    font-family: digital;
    src: url(../media/digital-7\ \(mono\).ttf);
}

.calculadora{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(6, 75px);
    height: 60%;
    gap: 10px;
    font-size: 40px;
}

.pantalla{
    grid-column: 1/-1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 8px;
    padding-right: 15px;
    height: 100%;
    font-family: digital;
    font-size: 70px;
    background-color: rgb(186, 196, 204);
    color: rgb(39, 40, 40);

}

.igual{
    grid-column: 4/ 4;
    grid-row: 5/span 2;
    align-items: stretch;
    align-content: stretch;
}

.operador, .igual, .numero, .clear, .clearAll, .decimal, .negativo{
    border: 1 solid black;
    border-radius: 8px;
    background-color: white;
    font-size: 45px;
    width: 100%;
    height: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(186,196,204);
}

.operador:hover, .igual:hover, .numero:hover, .clear:hover, .clearAll:hover, .decimal:hover, .negativo:hover{
    border: none;
    background-color: black;
    color: white;
    border: 2 solid black;
    border-radius: 8px;
}

.negativo{
    font-size: 35px;
}