body{
    background: rgb(199, 225, 190);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 50px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 13px;
    background-color: rgb(134, 216, 181);
    margin-bottom: 0px;
    
}

h1:hover{
    color: bisque;
    background-color: rgb(3, 74, 39);
}

.marca{  
    font-size: 15px;
    text-align: right;
    font-weight: lighter;
    color:darkblue;
    margin-right: 7px;
}

ul{
    list-style-type:square;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

