.izquierda { grid-area: left; }
.centro { grid-area: main; }
.derecha { grid-area: right; }

.grid-index{
    display: grid;
    grid-template-areas: 
    'left  left  main main  right right';
    gap: 15px;
}

h1{
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    margin-top: 0;
    display: inline;
}

h1 img{
    display: inline;
    width: 20%;
}


section img{
    width: 100%;
}


