.tareas-lista-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
  }

  .tarea-contenedor {
    width: 500px;
    min-height: 65px;
    background-color: #1b1b32;
    margin: 5px 0;
    padding: 8px 15px 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    border: 1px solid white;
    cursor: pointer;    
  }
  
  /* Colores */
  
  .tarea-contenedor:nth-child(3n + 1) {
    background-color: #1b1b32;
  }
  
  .tarea-contenedor:nth-child(3n + 2) {
    background-color: #2a2a40;
  }
  
  .tarea-contenedor:nth-child(3n + 3) {
    background-color: #3b3b4f;
  }
  
  /* Texto */
  
  .tarea-texto {
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
  }
  
  /* Icono */
  
  .tarea-icono {
    width: 25px;
    height: 25px;
    margin: 5px;
  }
  
  /* Tarea Completada */
  
  .tarea-contenedor.completada {
    background-color: #5a01a7;
    text-decoration: line-through;
  }

  /* Estructura Principal */

.tarea-formulario {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;     
  }
  
  /* Campo de Texto */
  
  .tarea-input {
    width: 350px;
    font-size: 18px;
    background-color: white;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #00471b;
    outline: none;
  }
  
  /* Boton Agregar Tarea */
  
  .tarea-boton {
    padding: 16px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: #00471b;
    color: #fff;
    text-transform: capitalize;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, 
  body {
    color: white;
    background-color: #1b1b32;
    font-family: Lato, sans-serif;
    margin-top: 40px;
  }
  
  h1 {
    color: #1b1b32;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 20px 0;
  }
  
  .aplicacion-tareas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  /* Logo de freeCodeCamp */
  
  .freecodecamp-logo-contenedor {
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .freecodecamp-logo {
    width: 400px;
    height: 50px;
  }
  
  /* Listas de Tareas */
  
  .tareas-lista-principal {
    width: 600px;
    min-height: 500px;
    background-color: #d0d0d5;
    padding: 25px;
    margin: 10px;
    border-radius: 26px;
  }
  